<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Все фильмы фильмотеки</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы фильмотеки</h1>
    <div class="row">
        <div class="col">
            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
               th:href="@{/films/add}"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
               href="films/addDirector"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить режиссера к фильму
            </a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Год выпуска</th>
            <th scope="col">Страна</th>
            <th scope="col">В наличии, шт.</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td th:text="${film.getTitle()}"></td>
            <td th:text="${film.getGenre().getGenreText()}"></td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:text="${film.getCountry()}"></td>
            <td th:classappend="${film.getAmount() <= 0} ? 'not-enough-film'"
                th:text="${film.getAmount()} <= 0 ? 'Нет в наличии' : ${film.getAmount()}"></td>
            <td>
                <a th:if="${film.getAmount() > 0}" sec:authorize="isAuthenticated() && !hasRole('ADMIN')"
                   class="btn btn-sm btn-outline-success"
                   th:href="'/rent/film/' + ${film.id}">Арендовать фильм</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
